body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Светлая тема */
    color: #333; /* Цвет текста для светлой темы */
}

body.theme-dark {
    background-color: #121212; /* Тёмный фон */
    color: #e0e0e0; /* Цвет текста для тёмной темы */
}

.container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    background: white; /* Светлая тема */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body.theme-dark .container {
    background: #1e1e1e; /* Фон контейнера в тёмной теме */
}

@media (min-width: 576px) { /* For small devices like tablets */
    .container {
        max-width: 80%;
    }
}

@media (min-width: 768px) { /* For medium devices like laptops */
    .container {
        max-width: 60%;
    }
}

@media (min-width: 992px) { /* For large devices like desktops */
    .container {
        max-width: 50%;
    }
}

@media (min-width: 1200px) { /* For extra-large devices */
    .container {
        max-width: 600px; /* Fixed width for very large screens */
    }
}

.subcontainer {
    margin: auto;
    padding: 20px;
    background: white; /* Светлая тема */
}

body.theme-dark .subcontainer {
    background: #2c2c2c; /* Фон подконтейнера в тёмной теме */
}

header {
    display: flex; 
    align-items: center; 
}

.header-text {
    margin-left: 20px; 
}

.avatar {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, p {
    margin: 5px 0; 
}

h3 {
    margin-top: 15px;
    color: #333; /* Цвет текста для светлой темы */
}

body.theme-dark h3 {
    color: #e0e0e0; /* Цвет текста для тёмной темы */
}

.links {
    display: flex; 
    justify-content: flex-end; 
    margin-top: -7px;
    margin-left: 25px;
}

.links h2 {
    text-align: left; 
}

.links ul {
    list-style-type: none; 
    padding: 0; 
}

.links li {
    display: inline; 
    margin-right: 10px; 
}

.links a {
    text-decoration: none; 
}

.links a:hover {
    text-decoration: underline; 
}

.button-style {
    margin-top: 6px; 
    display: inline-block; 
    padding: 10px 15px; 
    border-radius: 10px; 
    border: 2px solid black; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body.theme-dark .button-style {
    border-color: #e0e0e0; /* Цвет рамки кнопки в тёмной теме */
}

.button-style:hover {
    background-color: #0056b3; 
}

body.theme-dark .button-style:hover {
    background-color: #007bff; /* Цвет кнопки при наведении в тёмной теме */
}

.github {
    background-color: white; 
    color: black; 
}

body.theme-dark .github {
    background-color: #444; /* Фон кнопки GitHub в тёмной теме */
    color: white; /* Цвет текста кнопки GitHub в тёмной теме */
}

.github:hover {
    background-color: rgb(218, 218, 218); 
}

body.theme-dark .github:hover {
    background-color: #555; /* Цвет кнопки GitHub при наведении в тёмной теме */
}

.icon {
    width: 32px; 
    height: 32px; 
}

#theme-toggle {
    background: none;
    border: none;
    padding: 0;
    padding-left: 20px;
    cursor: pointer;
}

#theme-toggle:focus {
    outline: none;
}

body.theme-dark #theme-toggle img {
    filter: invert(1); /* Инвертируем цвета иконки */
}

/* Article */
.project-article {
    margin-top: 20px;
}

.project-article h3 {
    margin-top: 15px;
    color: #333;
}

.project-article p {
    line-height: 1.6;
}

.project-article ul {
    list-style-type: disc;
    margin-left: 20px;
}

.project-content {
    display: flex;
    align-items: flex-start; /* Align items at the start */
}

.project-content p {
    flex: 1; /* Take up available space */
    margin-right: 20px; /* Space between text and image */
}

.project-image {
    margin-right: -40%;
    margin-top: -10%;
    width: 90%; /* Adjust as needed */
    border-radius: 20px; /* Rounded corners */
}

.custom-divider {
    border: none; /* Убираем стандартные границы */
    height: 2px; /* Высота разделителя */
    background-color: #4CAF50; /* Цвет фона (разделителя) */
    margin: 20px 0; /* Отступы сверху и снизу */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для эффекта */
}

.spacer {
    height: 100px; /* Высота пробела (можно настроить) */
}

/* Fade in */

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}